/* Style the navbar links */
/* Style the logo */
/* Links on mouse-over */
/* Style the active/current link */
/* Display some links to the right */
/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */

//-----------------------------------
// #navbar {
// 	overflow: hidden;
// 	background-color: #f1f1f100;
// 	padding: 50px 50px;
// 	transition: 0.4s;
// 	position: fixed;
// 	width: 100%;
// 	top: 0;
// 	z-index: 99;
// 	#navbar-right {
// 		float: right;
// 		margin-top: 3%;
// 		// display:inline-block;
// 		&:hover {
// 			// background-color: #ddd;
// 			color: rgb(12, 196, 187);
// 		}

// 		.nav-right-items {
// 			border-radius: 4px;
// 			line-height: 25px;
// 			font-size: 18px;
// 			text-decoration: none;
// 			padding: 12px;
// 			text-align: center;
// 			color: rgb(0, 255, 255);
// 		}
// 		.nav-right-items-actived {
// 			background-color: rgb(185, 80, 38);
// 			color: white;
// 		}
// 	}

// 	#menu-in-small {
// 		display: none;
// 		background-color: lawngreen;
// 		float: right;
// 		margin-top: 3%;
// 		border-radius: 4px;
// 		line-height: 25px;
// 		font-size: 18px;
// 		text-decoration: none;
// 		padding: 12px;
// 		text-align: center;
// 		color: rgb(0, 255, 255);
// 	}
// 	#logo {
// 		font-size: 35px;
// 		font-weight: bold;
// 		transition: 0.4s;
// 		display: contents;
// 		img {
// 			width: 20%;
// 			float: left;
// 		}
// 	}
// }

// @media screen and (max-width: 580px) {
// 	#navbar {
// 		padding: 20px 10px !important;
// 	}
// 	#navbar-right {
// 		display: none !important;
// 	}
// 	#menu-in-small {
// 		display: inline;
// 	}
// }

//--------------------------------

#mainNav {
	padding-top: 0rem;
	padding-bottom: 0rem;
	background-color: #021529c0;

	@media (min-width: 992px) {
		.navbar-expand-lg {
			flex-flow: row nowrap;
			justify-content: flex-start;
		}
	}

	.fixed-top {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
	}

	#logo-navbar {
		vertical-align: middle;
		border-style: none;
		width: 250px;
		transition: 500ms;
	}
}

.header-image {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	background-position: center center;
}

.header1 {
	height: 100%;
	background-image: url(/asset/img/header-img.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	text-align: center;
	padding-top: 24rem;
	padding-bottom: 12.5rem;
	color: rgb(209, 12, 12);

	#welcom-msg {
		font-size: 1.5rem;
		font-style: italic;
		line-height: 1.5rem;
		margin-bottom: 25px;
	}

	#Nice-msg {
		font-size: 3.25rem;
		font-weight: 700;
		line-height: 3.25rem;
		margin-bottom: 2rem;
	}

	@media screen and (min-width: 768px) {
		#wecom-msg {
			font-size: 2.25rem;
			font-style: italic;
			line-height: 2.25rem;
			margin-bottom: 2rem;
		}
		#Nice-msg {
			font-size: 4.5rem;
			font-weight: 700;
			line-height: 4.5rem;
			margin-bottom: 4rem;
		}

		.btn-xl {
			padding: 1.25rem 2.5rem;
			font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
				sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
			font-size: 1.125rem;
			font-weight: 700;
		}
	}
}

.page-section {
	padding: 7rem 0;

	.text-center {
		text-align: center !important;
	}

	h2.section-heading {
		font-size: 2.5rem;
		margin-top: 0;
		margin-bottom: 1rem;
	}

	h2 {
		display: block;
		font-size: 1.5em;
		margin-block-start: 0.83em;
		margin-block-end: 0.83em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		font-weight: bold;
	}

	h3.section-subheading {
		font-size: 1rem;
		font-weight: 400;
		font-style: italic;
		font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
			sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		margin-bottom: 4rem;
	}

	.text-muted {
		color: #6c757d !important;
	}
}
